body{
	background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1)),url();
	background-repeat: none;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	background: #262626;
	font-family: sans-serif;
}

main{
		width: 100%;
		height: 85vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center; color: white;
	}

	nav{
	width: 100%;height: 10vh;
	background: rgba(0,0,0,0.4);
	color:white; justify-content: space-between;
	text-transform: uppercase;
	background-size: cover;
	
	align-items: center;
	text-transform: uppercase;
}


h1
{
font-size:32px;
font-weight: 10;
		letter-spacing: 4px;
		text-shadow:0.5px 0.5px 0.5px black;
		color: white;
}

.img{
	padding: 20px;
}

.main h1{
	padding-top: 15px;
}
table tr td
{
	color:#fff;
}

.img{
	padding: 20px;
}

.main h1{
	padding-top: 15px;
}
.container
{
	width: 1280px;
	margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box
{
	position: relative;
	width: 300px;
	height: 300px;
	width: 300px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
.container .box .imgbox
{
	position: relative;
	overflow: hidden;
}
.container .box .imgbox img
{
	max-width: 100%;
	transition: transform 1s;
}
.container .box:hover .imgbox img
{
	transform: scale(1.2);
}
.container .box .details
{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.container .box:hover .details
{
		transform: scaleY(1);
}

.container .box .details .content
{
	position: absolute;
	top: 30%;
	transform: translate(0%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.container .box .details .content .h5
{
	margin: 0;
	padding: 0;
	font-size: 10px;
	color: #ff0;
}
.container .box .details .content p
{
	margin: 10px 0 0;
	padding: 0;
	
}

